.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding-bottom: 80px;
}

@media (min-width: 769px) {
  .App {
    flex-direction: row;
  }
  
  .main-content {
    flex: 1;
    padding-bottom: 0;
    padding-left: 250px;
  }
}